/* Reset css */
* {
    margin: 0; 
    padding: 0;
}


html {
	scroll-behavior: smooth;
}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
}
.preloader .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font: 14px arial;
}

.header_panel{
	text-align: left;
}
.header_image{
	width: 50px;
    height: 50px;
    background-size: cover;
    border-radius: 100px;
    display: inline-block;
}
.header_name{
	display: inline-block;
	text-align: left;
}
.header_name p{
	margin: 0px;
	position: relative;
	font-size: 12px;
	font-weight: bold;
}
.header_name span{
	font-size: 12px;
}


nav.navbar > .container-fluid > a.navbar-brand{
	color: black;
	font-size: 36px;
}
nav.navbar > .container-fluid > a.navbar-brand:hover{
	color: grey;
}

div.collapse > div.navbar-nav > a.nav-item:hover {
	color: grey;
	border-bottom: 0.5px solid lightgray;
	transition: 0.5s;
}

.fullname{
	font-weight: bold;
}

div.content{
	margin: 100px 0;
}

.media-social{
	font-size: 36px;
}

.media-social > a > i {
	color: black;
}

.media-social > a > i:hover {
	color: grey;
}

.m_menu{
	bottom: 70px;
	display: none;
	position: absolute;
}
.m_menu_inner{
	padding: 10px 5px;
	background: white;
	box-shadow: 0px 0px 10px 5px #bcbcbc;
	border-radius: 10px;
}
.m_menu_inner label{
	margin: 15px 0px;
	font-size: 10px;
}
.m_menu_inner label i{
	font-size: 25px;
}
.btn_menu{
	color: white;
    right: 10px;
    width: 50px;
    height: 50px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    position: absolute;
    text-align: center;
    background: black;
    box-shadow: 0px 0px 10px 1px #cacaca;
    border-radius: 100%;
}
.btn_menu i{
	position: absolute;
	top: 17px;
	right: 18px;
}
.btn_menu:active {
  background: grey;
  box-shadow: 0px 0px 10px 5px #cacaca;
}


/* responsive dekstop / laptop */
@media only screen and (min-width: 992px) {
	body {
		background: rgb(255,255,255);
		background: url('../../33c54aa5-a1d7-46b7-b552-80aa4e5d37ca-removebg-preview.png') no-repeat, linear-gradient(105deg, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 27%, rgba(211,211,211,1) 100%);
		background-attachment: fixed;
		background-position: left;
		font-family: 'nobile';
	}
	.text-medsos{
		margin-left: 450px;
		margin-bottom: 50px;
	}
	.header {
		display: none;
	}
	div.collapse > div.navbar-nav > label.nav-item {
		color: black;
		padding: 0 30px;
		font-size: 24px;
	}
}

/* responsive mobile */
@media only screen and (max-width: 600px) {
	body{	
	background: rgb(255,255,255);
	background: linear-gradient(105deg, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 27%, rgba(211,211,211,1) 100%);
	background-attachment: fixed;
	font-family: 'nobile';
	}
	.header_panel{
		top: -15px;
		background-image: linear-gradient(#ad93f7, #4c3196);
		border-bottom-left-radius: 50% 30%;
		border-bottom-right-radius: 50% 30%;
	}
	nav.navbar{
		display: none;
	}
	.text-medsos > h1.jobdesc{
		font-size: 23px;
		font-weight: bold;
		text-shadow: 1px 0.5px black;
	}
	div.button-circle > i {
		top: 13px;
		right: 11.5px;
		position: absolute;
		font-size: 28px;
	}
	.btn_menu{
		display: block;
	}
	div.title-mobile{
		font-family: 'nobile';
		text-align: center;
		margin-top: 10px;
		font-weight: bold;
	}
}

